@font-face {
    font-family: "OpenSans-regular";
    src: url("../fonts/OpenSans-regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-bold.ttf") format("truetype");
}