@import "../../../../../common-styles/mixins";
@import "../../../../../common-styles/variables";

.login-form-wrapper {
    @include OpenSans-Regular;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    background: #263238;

    form {
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 70px));
        background: #2c3940;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #efefef;
        box-shadow: 1px 1px 3px #333;

        .form-name,
        .input-container,
        input {
            width: 100%;
        }

        .form-name {
            border-bottom: 1px solid #9e9e9e;

            h5 {
                @include OpenSans-Bold;

                text-transform: uppercase;
                text-align: center;
                margin-bottom: 10px;
            }
        }

        .input-container {
            position: relative;
            margin-top: 15px;

            input {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #9e9e9e;
                border-radius: 0;
                outline: none;
                height: 3rem;
                width: 100%;
                font-size: 1rem;
                margin: 0 0 15px 0;
                padding: 0;
                box-sizing: content-box;
                transition: all .3s;

                &:focus {
                    border-bottom: 1px solid #26a69a;
                    box-shadow: 0 1px 0 0 #26a69a;
                }
            }

            input:focus + label {
                color: #26a69a;
                top: 0;
                left: 0;
                font-size: 0.7rem;
                cursor: text;
                transition: .2s ease-out;
            }

            label {
                color: #9e9e9e;
                position: absolute;
                top: 0.8rem;
                left: 0.75rem;
                font-size: 1rem;
                cursor: text;
                transition: .2s ease-out;
            }

            .label-active,
            .label-error {
                color: #26a69a;
                top: 0;
                left: 0;
                font-size: 0.7rem;
                cursor: text;
                transition: .2s ease-out;
            }
        }

        input,
        button,
        label {
            background: transparent;
            border: none;
            color: #9e9e9e;
        }
    }

    .form-control-button {
        input {
            display: block;
            width: 100px;
            height: 100px;
            margin: 20px;
            cursor: pointer;
            border-radius: 50%;
            border: 1px solid #9e9e9e;
        }

        &__valid {
            border: 1px solid #26a69a;
        }

        &__error {
            border: 1px solid #e4445f;
        }
    }
}